html{
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
div {
	margin: 0;
	padding: 0;
}

.editor {
	position: relative;
	width: 95%;
	height: 300px;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 5px;
	font-family: Arial, sans-serif;
	overflow: clip;
	word-wrap: break-word;
}
.cursor {
	position: absolute;
	width: 2px;
	height: 20px;
	background-color: red;
	display: none;
}